[Unit]
Description=Rogue and Evil Access Point
After=network.target dnsmasq.target hostapd.target

[Service]
# Type=forking
ExecStart=#{RUN_CMD}
# ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/var/run/zlown.pid

[Install]
WantedBy=multi-user.target

